<?xml version="1.0" ?>

<!-- Headless GUI with no 3D view (for software / no-GL environments) -->
<plugin filename="WorldControl" name="World control">
  <ignition-gui>
    <title>World control</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="bool" key="resizable">false</property>
    <property type="double" key="height">72</property>
    <property type="double" key="width">160</property>
    <property type="double" key="z">1</property>
    <property type="string" key="state">docked</property>
  </ignition-gui>

  <play_pause>true</play_pause>
  <step>true</step>
  <start_paused>false</start_paused>
</plugin>

<plugin filename="WorldStats" name="World stats">
  <ignition-gui>
    <title>World stats</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="bool" key="resizable">false</property>
    <property type="double" key="height">110</property>
    <property type="double" key="width">290</property>
    <property type="double" key="z">1</property>
    <property type="string" key="state">docked</property>
  </ignition-gui>

  <sim_time>true</sim_time>
  <real_time>true</real_time>
  <real_time_factor>true</real_time_factor>
  <iterations>true</iterations>
</plugin>

<plugin filename="Teleop">
  <topic>/cmd_vel</topic>
  <ignition-gui>
    <property type="bool" key="showTitleBar">true</property>
    <property type="string" key="state">docked</property>
    <property key="resizable" type="bool">true</property>
  </ignition-gui>
</plugin>
